<div class="TemplatepropertyContainer">
    <div class="row">
        <div class="col-md-4">
            <div class="pubName">
                <span> Pub Name</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedPublisher" [style]="{'width':'200px'}"></p-dropdown>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pubName">
                <span> Pub Name</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedPublisher" [style]="{'width':'200px'}"></p-dropdown>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pubName">
            <span> Pub Name</span>
                <p-dropdown [options]="cities" [(ngModel)]="selectedPublisher" [style]="{'width':'200px'}"></p-dropdown>
            </div>
        </div>
    </div>    
</div>